*{
  margin: 0;
}

#contenedorPrincipal {
  background-color: #FFD502;
  width: 100%;
  height: 660px;
  position: relative;
}

#contenedorBotones {
  background-color: #FFD502;
  width: 100%;
  height: 50px;
}

.boton {
  color: white;
  width: 10px;
  height: 40px;
  float: right;
  margin-right: 130px;
  margin-top: 10px;
  font-family: 'Lora', serif;
}

#sumateBotom {
  background-color: #FFBA02;
  width: 100px;
  height: 30px;
  color: white;
  padding-top: 11px;
  padding-left: 30px;
  position: absolute;
  margin-top: 40px;
  margin-left: 110px;
  font-family: 'Lora', serif;
}

#laboratoria {
  position: absolute;
  color: white;
  font-size: 1.2em;
  margin-top: 250px;
  margin-left: 45%;
}

p {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: .8em;
}

h1{
  text-align: center;
}

.contenedorImagenes{
  position: relative;
  background-color: #FFF;
  display: block;
  width: 100%;
  height: 520px;
  margin-top: 10px;
}
.cuadradoImagen{
  width: 90%;
  height: 550px;
  border-style: solid;
  border-color: #000;
  display:inline-block;
  position:absolute;
}

.cuadro1{
  display: inline-block;
  position: relative;
  float: left;
  background-color: #FFFF;
  width: 45%;
  height: 500px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px
}
.cuadro2{
  display: inline-block;
  float: left;
  position: relative;
  background-color: #FFF;
  height: 500px;
  width: 45%;
  margin-top: 10px;
}
img{
  position: relative;
  left: 150px;
}
h2{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}


.informacionProyecto{
  position: absolute;
  left:10%;
  text-align: center;
  font-family: cursive;
  font-size: 1em;
  text-decoration-color: #2E2E2E;
}

.botones {
  position: absolute;
  left: 45%;
  bottom: 50px;
  background-color: #FFD502;
  color: white;
  padding: 6px;
  text-align: center;
  font-size: 12px;
  border: none;

}

footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 30px;
  padding: 20px;
  margin-top: 20px;
}
